.attribute-icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
}

.center-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    text-align: center;
}

.center-page-container h1 {
    color: #7d3c98;
    margin-bottom: 10px;
}

.center-page-container h3 {
    color: #555;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.attribute-icon-button i {
    margin-bottom: 10px;
}

.attribute-icon-button span {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.pim_oe_title {
    max-width: 100%;
}

.pim_create_attribute {
    font-size: 14px;
    text-transform: uppercase;
}

.choose_pim_attribute_type {
    color: #111827;
    font-size: 30px;
    margin-bottom: 10px !important;
}

.container {
  padding: 16px;
}

.label_res {
    font-weight: bold;
    padding-right: 154px;
}

.attribute_type .o_form_renderer {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}
.attribute_type .o_content {
    background-color: #ffffff;
    display: grid !important;
    flex-direction: column;
    justify-content: center;
}

.attribute_type_class {
    border: 1px solid #d3d3d3;
    width: 70%;
    border-radius:5px;
}

.value_title {
    font-size: 12px;
    font-weight: 600;
    color: #374151;
}

.fam_grid {
    border-radius: 6px;
    .fam_grid_content {
        .jstr-overalyed {
            font-weight: 400;
            text-transform: uppercase;
            color: #2D2D2D;
        }
        .fam_list_title {
            font-size: 14px;
            font-weight: 600;
            color: #111827;
        }
        .fam_list_value {
            gap: 24px;
            .value_weight {
                font-weight: 500;
            }
        }
    }
}

.fam_grid_c_date {
    gap: 6px;
    span {
        font-size: 12px;
        font-weight: 400;
    }
}

.status-box {
      display: inline-block;
      border-radius: 5px;
      border:1px solid;
      color: green;
      text-align: center;
      width: fit-content;
      font-size:smaller;
  }

.status-enabled {
  background-color: white;

}

.status-disabled {
  background-color: white;
}

.no_color{
      background-color: white;
}
.green_bar{
      background-color: #06A921;
     }
.light_green_bar{
  background-color: #84D612;
 }
.yellow_bar{
  background-color: #FBC928;
 }
.orange_bar{
  background-color: #F99A00;
 }
.red_bar{
  background-color: #E73819;
 }
.o_progressbar {
.o_progress {
    width: 50px;
    height: 15px;
    border: 1px solid $o-gray-300;
    background-color: white;
    border-radius: 30px;
}
.o_progressbar_value {
    width: 44px;
}
.o_progressbar_value input {
    // Prevent the input to grow and deteriorate the visibility
    width: 45px;
    min-width: 45px;
    transition: width .2s;
}
}
.o_kanban_renderer .o_kanban_record {
    .orange_bg {
        background-color: #FFF7E9 !important;
        border-color: #ECC78C !important;
    }
    .green_bg {
        background-color: #ECFFE6 !important;
        border-color: #A0E98A !important;
    }
    .light_green_bg {
        background-color: #e6fff0 !important;
        border-color: #8ae993 !important;
    }
    .yellow_bg {
        background-color: #fffbe9 !important;
        border-color: #ece28c !important;
    }
    .red_bg {
        background-color: #FFF5F2 !important;
        border-color: #F3B29E !important;
    }
    .o_kanban_image {
        &.fam_grid_image {
            width: 100px;
            height: 100%;
            padding-top: 20%;
            img {
                width: -webkit-fill-available;
                height: 100%;
                object-fit: contain;
            }
            +div {
                padding-left: 106px;
            }
        }
    }
}

.progress-bar.bg-info {
    background-color: #06A921 !important;
}
.progress-bar.bg-light_green {
    background-color: #84D612 !important;
}
.progress-bar.bg-yellow_color {
    background-color: #FBC928 !important;
}
.progress-bar.bg-orange_color {
    background-color: #F99A00 !important;
}
.w-75 {
    width: 100% !important;
}
.progress-container {
    width: 100%;
    padding: 5px 0;
}

.progress-container .o_progressbar {
    width: 100% !important;
    height: 8px !important;
}

.progress-container .o_progressbar .progress {
    width: 100% !important;
}


.product_version_tile {
    .o_kanban_renderer {
        &.o_kanban_ungrouped {
            .o_kanban_record {
                margin: 8px;
            }
        }
        & .oe_kanban_details {
            ul {
                list-style: inside;
            }
        }
        .o_kanban_record {
            &:focus-within {
                .oe_kanban_global_click {
                    outline: none;
                }
            }
            > div:not(.o_dropdown_kanban) {
                border: 1px solid #c2c0ba;
            }
        }
        .oe_kanban_footer {
            button {
                box-shadow: rgba(96, 75, 74, 0.1882352941) 5px 5px 5px 0px;
                background-color: #2a5c80;
                border-color: #2a5c80;
                &.btn-primary {
                    &:active {
                        color: #ffffff;
                    }
                    &:hover {
                        background-color: #ffffff;
                        color: #2a5c80;
                    }
                }
            }
            .o_kanban_record_bottom {
                margin: 10px 25px 25px 10px;
                right: 0;
                position: absolute;
                bottom: 0;
                border-radius: 5px;
            }
        }
        .oe_kanban_card, .o_kanban_record {
            .o_kanban_image {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 220px;
                    border-radius: 20px 20px 0 0;
                }
            }
        }
    }
}

.o_kanban_details {
    display: flex;
    flex-direction: column; /* Align fields vertically */
    gap: 5px; /* Add spacing between fields */
}

.o_kanban_details > div {
    display: flex;
    align-items: center; /* Align text and labels properly */
    gap: 0px; /* Spacing between label and value */
}

.o_kanban_card {
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: transform 0.2s;
}
.o_kanban_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.o_kanban_mobile .o_kanban_renderer .o_kanban_record {
    div.label {
        @include o-text-overflow;
    }
}

.o_kanban_5_per_row .o_kanban_card {
    margin-right: 1%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.o_kanban_5_per_row .o_kanban_card:nth-child(5n) {
    margin-right: 0;
}

.o_kanban_5_per_row::after {
    content: "";
    display: table;
    clear: both;
}

.fam_grid_box .o_kanban_renderer {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        .o_kanban_record {
            width: 100%;
            margin: 0;
        }
}

.fam_list_title {
    font-size: 14px;
    font-weight: 600;
    color: #111827;
}

.kanban-product-name{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* Tooltip effect on hover */
.kanban-product-name span{
    cursor: pointer;
}

.oe_kanban_details {
    padding-top:10px;
        width: 100%;
        align-self: left;
        overflow-wrap: break-word;
        word-wrap: break-word;
        // Useful for the class 'o_text_overflow'
        min-width: 0;

        ul {
            margin-bottom: calc(var(--KanbanRecord-gap-v) * 0.5);
            padding-left: 0;
            list-style: none;
            font-size: $font-size-sm;

            li {
                margin-bottom: 2px;
            }
        }
    }


.badge {
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
}

.page_form {
    .o_content {
        overflow-x: hidden;
        > .o_form_renderer {
            margin: 10px;
            border: 1px solid #e6e9ec;
            padding: 10px;
            border-radius: 6px;
            background-color: #ffffff;
        }
        .o_list_renderer {
            .o_list_table {
                .o_list_actions_header {
                    background-color: #F8F8F8;
                }
                thead {
                    background-color: #F8F8F8;
                    th {
                        font-weight: 400;
                        color: #424242;
                    }
                }
                tbody {
                    td {
                        color: #111827;
                    }
                }
            }
        }
        .pim_create_attribute {
            text-align:left;
            position: relative;
            .attr_title {
                color: #714B67;
                font-weight: 400;
                &:after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    border-top: 1px solid #CECECE;
                    width: -webkit-fill-available;
                    top: 50%;
                    margin-left: 10px;
                }
            }
        }
        .left-column {
            width: 30%;
            border:2px solid;
            border-color: #D8DADD;
            border-radius: 6px;
            margin-right: 5px;
            .o_list_renderer.o_renderer  {
                border-radius: 6px 6px 0 0;
            }
        }
        .right-column {
            width: 70%;
            border:2px solid;
            border-color: #D8DADD;
            border-radius: 6px;
            margin-left: 5px;
            padding: 10px;
            > .o_form_renderer.o_form_nosheet {
                border-radius: 6px;
                padding: 0;
            }
            .attr_form {
                .attr_properties {
                    .attr_sheet {
                        padding: 0;
                        .o_form_sheet {
                            padding: 0;
                            border: unset;
                        }
                        .type_name {
                            min-height: unset;
                        }
                    }
                    .type_properties {
                        .o_notebook_headers {
                            overflow: visible;
                            margin: 0;
                            .nav.nav-tabs {
                                padding: 0;
                            }
                            .nav-link {
                                border-color: #D8DADD;
                                padding: 6px 10px;
                                border-radius: 0;
                                &.active {
                                    border-bottom-color: #ffffff;
                                }
                            }
                        }
                        .general_param {
                            .o_horizontal_separator {
                                margin: 0 !important;
                                padding: 10px;
                                background-color: #F7F7F7;
                                border-radius: 6px 6px 0 0;
                            }
                            .o_form_label {
                                font-weight: 400;
                                font-style: italic;
                                color: #111827;
                            }
                            .o_cell {
                                padding: 0 10px;
                            }
                        }
                        .o_notebook_content.tab-content {
                            border-width: 0px 1px 1px 1px;
                            border-color: #D8DADD;
                            border-style: solid;
                            border-radius: 0;
                            .tab-pane {
                                padding: 0;
                                margin: 10px;
                                .top_property {
                                    border-radius: 6px 6px 0 0;
                                    border-width: 1px 1px 0 1px;
                                    border-style: solid;
                                    border-color: #D8DADD;
                                }
                            }
                        }
                        .attr_form_values {
                            padding: 0 10px 10px 10px;
                            border-radius: 0 0 6px 6px;
                            border-width: 0 1px 1px 1px;
                            border-style: solid;
                            border-color: #D8DADD;
                            .o_form_label {
                                font-weight: 400;
                                font-style: italic;
                                color: #111827;
                                opacity: unset;
                            }
                            .attr_display_type {
                                padding: 4px 8px;
                            }
                            .o_field_widget.attribute_type_class {
                                margin-bottom: 14px;
                                input {
                                    border-bottom: 0;
                                    padding: 4px 8px;
                                }
                            }
                            .attr_creation {
                                .dropdown-menu {
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.attr_types {
    display: flex;
    width:100%;
    .grid_column {
        width: 25%;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        .attribute-button {
            text-align: center;
            margin-right: 10px;
            height: 130px;
        }
    }
}

// @media screen and (max-width: 1536px) {
//     .fam_grid_box {
//         .o_kanban_renderer {
//             grid-template-columns: repeat(5, 1fr);
//         }
//     }
// }

@media screen and (max-width: 1440px) {
    .page_form .o_content .right-column .attr_form .attr_properties .type_properties .attr_form_values {
        .attr_display_type {
            padding: 2px 4px;
        }
        .o_field_widget.attribute_type_class input {
            padding: 2px 4px;
        }
    }
    .attr_types {
        .grid_column {
            .attribute-button {
                height: 100px;
            }
        }
    }
   .choose_pim_attribute_type {
        font-size: 24px;
    }
    .pim_create_attribute {
        font-size: 12px;
    }
    .attribute-icon-button span {
        font-size: 12px;
        line-height: 1rem;
    }
    .attribute-icon-button {
        border-radius: 6px;
    }
    .attribute-icon-button i {
        font-size: 1em;
    }
}
